
src/__pycache__/HelloWorld.cpython-37-pytest-5.2.0.pyc
src/__pycache__/QuickSort.cpython-37-pytest-5.2.0.pyc
tests/__pycache__/testSort.cpython-37-pytest-5.2.0.pyc
DemoScreenShots.docx
~$moScreenShots.docx
